# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear

#XTend
/contents/
xtend-gen