<h2>Elige tu pizza ideal <span ng-if="controller.usuarioS.estaLogeado()">{{controller.usuarioS.usuario.nick}}</span></h2>
<div class="row">
    <div class="col-sm-4" ng-repeat="pizza in controller.pizzasS.objects">
        <div class="panel panel-default">
            <div class="panel-body" ng-click="controller.seleccionarPizza(pizza)">
                {{pizza.nombre}}
                <span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true" style="font-size: 1.2em"></span>
                <span class="badge pull-right">${{pizza.precio}}</span></div>
        </div>
    </div>
</div>

<!-- Tamanio -->
<div class="modal fade" id="seleccionarTamanio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Label">{{controller.pizzaSeleccionada.nombre}}</h4>
            </div>
            <div class="modal-body" style="overflow:hidden">
                <div class="col-sm-4" ng-repeat="tamanio in controller.tamanioS.objects">
                    <div class="panel panel-default">
                        <div class="panel-body" ng-click="controller.seleccionarTamanio(tamanio)">
                            {{tamanio.nombre}}
                            <span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true" style="font-size: 1.2em"></span>
                            <span class="badge pull-right">${{tamanio.precio * controller.pizzaSeleccionada.precio}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Ingrediente -->
<div class="modal fade" id="verIngredientes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{controller.platoSeleccionado.pizza.nombre}}
                    <sub>{{controller.platoSeleccionado.tamanio.nombre}} </sub>
                    <span class="badge pull-right" style="margin-right: 30px;">${{controller.platoSeleccionado.precio()}}</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-4" ng-repeat="ingrediente in controller.platoSeleccionado.pizza.ingredientes">
                    <div class="panel panel-default">
                        <div class="panel-body">{{ingrediente.nombre}}
                            <sub>Ambos lados</sub>
                            <span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true" style="font-size: 1.2em"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" ng-repeat="agregado in controller.platoSeleccionado.agregados">
                    <div class="panel panel-default">
                        <div class="panel-body">{{agregado.ingrediente.nombre}}
                            <sub>agregado.lado</sub>
                            <span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true" style="font-size: 1.2em"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="controller.seleccionarIngredientesExtras()" class="btn btn-primary btn-xs">Elegir ingredientes extras</button>
                <button type="button" ng-click="controller.confirmarPlato()" class="btn btn-primary">Lo quiero!</button>
            </div>
        </div>
    </div>
</div>


<!-- Ingredientes Extras -->
<div class="modal fade" id="seleccionarIngredientesExtras" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Ingredientes Extras</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-4" ng-repeat="ingrediente in controller.ingredienteS.objects">
                    <div class="checkbox" ng-click="controller.seleccionarIngredienteAgregado(ingrediente)">
                        <label><input type="checkbox" value="">
                            {{ingrediente.nombre}}
                            <span class="badge pull-right">${{ingrediente.precio}}</span>
                        </label>
                        <sub>
                            <label class="custom-control custom-radio" ng-click="controller.agregarLadoAIngrediente(ingrediente, 'Lado Derecho')">
                                <input id="ladoD" name="derecho" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Lado Derecho</span>
                            </label>
                            <label class="custom-control custom-radio" ng-click="controller.agregarLadoAIngrediente(ingrediente, 'Lado Izquierdo')">
                                <input id="ladoI" name="izquierdo" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Lado Izquierdo</span>
                            </label>
                            <label class="custom-control custom-radio" ng-click="controller.agregarLadoAIngrediente(ingrediente, 'Ambos Lados')">
                                <input id="ladoA" name="ambos" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Ambos Lados</span>
                            </label>
                        </sub>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="controller.agregarIngredientesExtra()" class="btn btn-primary">Lo quiero!</button>
            </div>
        </div>
    </div>
</div>
