<div ng-if="controller.pedidoS.tienePlatos()">
    <h2>Tu pedido</h2>
    <h3>Platos</h3>
    <div ng-repeat="plato in controller.pedidoS.pedido.platos">
        <div class="panel-body">
            {{plato.pizza.nombre}}
            <span class="badge pull-right">${{plato.precio}}</span>
            <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true" style="font-size: 1.2em"></span>
            <sub>{{plato.pizza.ingrediente}}, {{plato.agregados.ingredientes}} </sub>
        </div>
    </div>


</div>